nav ul li:first-child {
    background-color: #FF4E00;
    border-radius: 10px;
}

#select {
    color: white;
}

#mainImage {
    width: 100%;
    height: auto;
}

#center {
    display: flex;
}

#center img {
    width: 50%;
    height: 100%;
}

article {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#articleTitle {
    font-size: 3em;
    text-align: center;
    color: #FF4E00;
    margin: 5%;
}

#articleP {
    font-size: 2em;
    margin-left: 70px;
    margin-right: 70px;
}

#articleButton {
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    color: white;
    background-color: #FF4E00;
    font-size: 2em;
    transition-duration: 500ms;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 3px black;
}

#articleButton:hover {
    transition-duration: 500ms;
    background-color: #FF1E14;
}

#enviosPago {
    display: flex;
}

.block {
    display: flex;
    margin: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.block i {
    font-size: 3em;
    color: #FF4E00;
}

.block p {
    margin-left: 50px;
}

@media screen and (max-width:1500px) {
    #articleTitle {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #articleP, #articleButton{
        font-size: 1.5em;
    }

    .block {
        margin: 30px;
    }
}

@media screen and (max-width:1000px) {
    #articleTitle {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #articleP {
        font-size: 1em;
    }

}

@media screen and (max-width:800px) {
    #center img {
        display: none;
    }

    #enviosPago {
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 50px;
    }
}