@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header {
    background: linear-gradient(180deg, rgba(255, 148, 20, 1) 6%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    align-items: center;
    
}

#mobileMenu {
    display: none;
}

#mobileNav {
    display: none;
    justify-content: center;
}

nav {
    margin: auto;
    margin-right: 0;
}

.logo {
    width: 8%;
    margin: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-left: auto;
    border: 3px solid #ff4e00;
    border-radius: 15px;
}

nav ul li {
    font-size: 1.3em;
    transition-duration: 400ms;
}

nav ul li:hover {
    background-color: #FF9414;
    transition-duration: 400ms;
    border-radius: 10px;
}

nav ul li:not(:last-child) {
    border-right: 3px solid #ff4e00;
}

nav ul li a {
    text-decoration: none;
    color: #FF4E00;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}

#shoppingCart {
    font-size: 3em;
    margin-left: 5%;
    margin-right: 5%;
    color: #ff4e00;
}

footer {
    margin-top: 30px;
    border-top:3px solid #FF4E00;
    background: linear-gradient(180deg, rgba(255, 148, 20, 1) 6%, rgba(255, 255, 255, 1) 100%);

}

footer .logo{
    margin: 20px;
}

footer #footerNumber i{
    color: #FF4E00;
}

#footerCenter{
    display: flex;
    flex-direction: column;
    float: right;
    padding-top: 30px;
    gap: 30px;
    font-size: 1.3em;
    margin-right: 20px;
}

footer #footerSocial #footerLinks a{
    color: #FF4E00;
    font-size: 40px;
    transition-duration: 500ms;
    padding-left: 5px;
    padding-right: 5px;
}

footer #footerSocial #footerLinks a:hover{
    transition-duration: 500ms;
    border-radius: 10px;
}

footer #footerSocial #footerLinks a:first-child:hover{
    color: white;
    background-color: black;
}

footer #footerSocial #footerLinks a:nth-child(2):hover{
    color: magenta;
}

footer #footerSocial #footerLinks a:nth-last-child(2):hover{
    color: rgb(65, 182, 255);
}

footer #footerSocial #footerLinks a:last-child:hover{
    color: rgb(0, 110, 255);
}



footer #footerSocial p{
    margin: 0;
}

footer #footerNumber{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #footerSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #copy{
    margin: 0;
    padding-bottom: 10px;
}

@media screen and (max-width:800px) {
    header {
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    .logo {
        margin: 5px;
        width: 15%;
    }

    nav {
        display: none;
    }

    #shoppingCart, #mobileMenu a{
        font-size: 3em;
        margin-left: 10px;
        margin-right: 10px;
        color: #ff4e00;
    }

    #mobileMenu {
        display: block;
    }

    #mobileNav a{
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        border: 1px solid #FF4E00;
        border-radius: 30px;
        color: white;
        background-color: #FF4E00;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .logo{
        width: 20%;
        margin-bottom: 20px;
    }

    footer #footerCenter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        font-size: 1em;
        
    }

    footer #copy{
        margin-top: 30px;
        padding: 0;
    }
}